<!DOCTYPE html>
<html>
  <head>
    <style>
body {
  background-color: red;
  color: white;
  text-align: center;
}
button {
  background-color: green;
  color: white;
}
a {
  text-decoration: none;
}
p {
  text-size: 50px;
}
    </style>
  </head>
  <body>
    <h1>
      ELEMENT
    </h1>
    <p>
      A cool discord bot<br />
      <br /><br /><br />
      <a href="/invite">
        <button>
          invite
        </button>
      </a>
      <a href="/support">
        <button>
          support server
        </button>
      </a>
    </p>
  </body>
</html>